<div id="dialog" class="dark-theme">
    <div class="dialog-container">
        <h1 mat-dialog-header>Manage Website</h1>
        <mat-dialog-content>
            <form action="">
                <div class="form" *ngFor="let source of dataSource">
                    <div *ngIf="dataSource.indexOf(source) < 2">
                        <div class="categories">
                            <div class="parent-input-ctrl">
                                <mat-icon>view_headline</mat-icon>
                                <mat-form-field class="parent-width" appearance="outline">
                                   <input matInput value="{{source.name}}">
                               </mat-form-field>
                               <mat-icon>delete</mat-icon>
                            </div>
                        </div>
                        
                        <div class="sub-categories">
                            
                            <div class="child" *ngFor="let item of source.categories">
                                <div class="child-input-ctrl" *ngIf="source.categories!.indexOf(item) < 2">
                                    <mat-icon>view_headline</mat-icon>
                                    <mat-form-field class="child-width" appearance="outline">
                                           <input matInput value="{{item.name}}">
                                    </mat-form-field>
                                    <mat-icon>delete</mat-icon>
                                </div>
                                
                            </div>
                            <div class="btnctrl">
                                    <button mat-dialog-close="true" mat-raised-button  mat-button cdkFocusInitial color="accent">New</button>

                               
        
                            </div>
                        </div>
    
                    </div>
                </div>
    
                <button class="add-new-ctrl" mat-dialog-close="true" mat-raised-button  mat-button cdkFocusInitial color="accent">Add New</button>
            </form>
            
        </mat-dialog-content>
        <mat-dialog-actions align="center">
            <button mat-dialog-close="true" mat-raised-button  mat-button cdkFocusInitial color="accenet">Save</button>
        </mat-dialog-actions>
    </div>
</div>
