#dialog{
  background-color: #16191d;
    .dialog-container{
        padding: 1rem;
        h1{
          font-family: "Roboto Mono", system-ui, sans-serif;
          font-size: 16px;
          margin-bottom: 5px;
          font-weight: 700;
          text-transform: uppercase;
          letter-spacing: 1.4px;
          color: #8E96A4;
          word-spacing: -4px;
          display: flex;
          justify-content: center;
        }

        mat-dialog-content{
          mat-icon{
            color: #9ea3ab;
            padding-top: 1.1rem;
          }
          input{
            color: #9ea3ab;
            font-family: "Roboto Mono", system-ui, sans-serif;
          }
              .parent-input-ctrl{
                display: flex;
                justify-content: end;
              }
              .parent-width {
                width: 88%;
              }
              

              .sub-categories{
                margin-bottom: 2rem;

                .child{
                    
                    .child-input-ctrl{
                      display: flex;
                      // align-items: center;
                      justify-content: end;
                    }
                    .child-width{
                      width:70%;
                    }
                  }
                  
                  .btnctrl{
                    display: flex;
                    justify-content: end;
                    padding-left: 1.5rem;
  
                    button{
                        width: 80%;
                    }
                  }
                }
            }

            .add-new-ctrl{
                width: 100%;
              }
        }


        mat-dialog-actions{
            button{
               
            }
        }
    }
