<div id="side-nav">
  <div class="input-control">
    <input type="text" placeholder="Search" class="ctrl-input" 
    #InputCtrl (keydown.enter)="filter(InputCtrl.value)">
  </div>
  <div class="side-nav-container">
    <div class="upper" style="color: #fff">
      <div *ngFor="let item of apis">
        <p class="category">{{item.name}}</p>
         <div *ngFor="let itm of item.categories" class="sub-categories">
          <a href='{{itm.url}}' target="_blank">
            <p class="name">{{itm.name}}</p>
            <mat-icon>open_in_new</mat-icon>
          </a>
        </div>
      </div>
      <div>
        <p class="category">CATEGORIES</p>
      </div>

      <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
        <!-- This is the tree node template for leaf nodes -->
        <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding style="color: #fff;">
          <!-- use a disabled button to provide padding for tree leaf -->
          <!-- <button mat-icon-button disabled></button> -->
          <span (click)="childClick(node.name)" style="cursor: pointer;">{{node.name}}</span>
        </mat-tree-node>
        <!-- This is the tree node template for expandable nodes -->
        <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding style="color: #fff;">
          <button mat-icon-button matTreeNodeToggle
                  [attr.aria-label]="'Toggle ' + node.name">
            {{treeControl.isExpanded(node) ? '-': '+'}}
          </button>
          <!-- <ng-template #expend>
            <mat-icon>keyboard_arrow_right</mat-icon>
          </ng-template>
          <ng-template #close>
            <mat-icon>keyboard_arrow_down</mat-icon>
          </ng-template> -->
          {{node.name}}
        </mat-tree-node>
      </mat-tree>





    </div>

    <div class="lower">
      <hr aria-orientation="horizontal">
      <p>Total Resources:</p><span>738</span>
    </div>
  </div>
</div>


