#main{
    
    .main-container {
        width: 100%;
        display: flex;
        .side-nav{
            display: flex;
            min-width: 270px;
            max-width: 270px;
            height: calc(100vh - calc(76px + 30px));
            margin-right: 50px;
            side-nav{
                position: fixed;
            }
        }
    
        .categories{
            
        }  
      }

}