#main{
    
    .main-container {
        display: flex;
        .side-nav{
            
            .header{
                display: none;
            }
            display: flex;
            min-width: 270px;
            max-width: 270px;   
            height: calc(100vh - calc(76px + 30px));
            margin-right: 50px;
            side-nav{
                position: fixed;
                display: flex;
                flex-direction: column;
                height: calc(100vh - calc(80px + 30px));
            }
        }
      }

}

@media screen and (max-width: 768px) and (min-width: 280px){
    #main{
        
        .main-container{
            
            .side-nav{
                display: none;
                min-width: 0px;
                max-width: 0px;   
                height: 0px;
                margin-right: 0px;

                
                .header{
                    display: flex;
                    justify-content: end;
                    padding-right: 1rem;

                    mat-icon{
                        color: #fff;
                    }
                }

                side-nav{
                    position: absolute;
                    // overflow: auto;
                    width: 90%;
                }
                
            }
            .min-max-width{
                max-width: 100%;
                width: 100%;
            }
            .side-nav-show{
                display: flex;
                height: 100vh;
            }
            .display-side-nav{
                display: flex;
                flex-direction: column;
                background: #0D0E12;
                height: 100vh;
                overflow: auto;
                position: absolute;
                top: 0px;
                left: 0px;
                padding-top: 1rem;
                padding-bottom: 1rem;
                z-index: 100;
                position: fixed;
            }

            .categories{
                overflow: hidden;
            }

        }
    }
}