<div id="categories">
    <div class="categories-container"  
        >
        <div class="categories-heading">
            <h1>{{filteredCategories[0]?.type}}</h1>
            <span>{{filteredCategories[0]?.type}}</span>
        </div>
        <!-- <input type="text"> -->

        <div class="list">
            <ul>
                <li *ngFor="let card of filteredCategories">
                            <mat-card>
                                <img 
                                mat-card-image src='{{card.image}}' alt="Photo of a Shiba Inu">
                                
                                <mat-card-content>
                                  <div class="card-content">
                                    <div class="card-h2">
                                       <h2>{{card.type}}</h2> 
                                    </div>
                                    <span>{{card.path}}</span>
                                    <div class="discription">
                                        <p>{{card.discription}}
                                        </p>
                                    </div>
                                    
                                  </div>
                                
                                </mat-card-content>
                                <mat-card-actions>
                                    <mat-icon>more_horiz</mat-icon>
                                </mat-card-actions>
                              </mat-card>
                </li>
            </ul>
        </div>

    </div>
</div>