#app-container{
    background-color: #0D0E12;
    .main-container{
        // display: flex;
        // flex-direction: column;
        min-height: 100vh;
        max-width: 1600px;
        -webkit-margin-start: auto;
        margin-inline-start: auto;
        -webkit-margin-end: auto;
        margin-inline-end: auto;
       

    }

}




