<mat-toolbar>
    <div class="nav-bar-container">
        <div class="nav-bar-left">
            <a href="/" class="dev-resource">
                <span>
                <strong>DEV RESOURCE</strong>
                </span>
            </a>
            <a href="https://clerk.dev/?utm_source=public_apis&utm_content=header/" target="_blank">
                <span>
                    <strong>CLERK</strong>
                </span>
            </a>
        </div>
        <div class="nav-bar-right">
            <a href="https://github.com/marcelscruz/dev-resources" class="github">
                <span>
                <strong>GITHUB(123)</strong>
                </span>
            </a>
            <button mat-raised-button class="btn-add-resources">
                <a href="https://github.com/marcelscruz/dev-resources/blob/main/CONTRIBUTING.md">
                    <strong>ADD RESOURCES</strong>
                </a>
            </button>
            
        </div>
        
    </div>
 </mat-toolbar>
  