@media screen and (max-width: 1327px) and (min-width: 1024px){
    #home{
        .category{
            ul{
                // display: none;
                border: 2px solid red;
                display: grid;
                grid-gap: 1.5rem;
                grid-template-columns: 1fr 1fr;
                padding: 0;
            }

        }
    }
}