/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400&display=swap');

@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";

@import "../node_modules/@angular/material/theming";
@include mat-core();

$my-primary: mat-palette($mat-gray,50);
$my-accent: mat-palette($mat-blue, 800);
$my-warn: mat-palette($mat-red, 800);
$dialog-light-theme: mat-light-theme($my-primary,$my-accent, $my-warn);
$dialog-dark-theme: mat-dark-theme($my-primary,$my-accent,$my-warn);

.light-theme{
    // @include angular-material-theme($dialog-theme);
}


.dark-theme{
    @include angular-material-theme($dialog-dark-theme);
    background-color:#0D0E12;
    // background-color: #202328;
}

.dark-theme2{
     @include angular-material-theme($dialog-dark-theme);
    background-color:#16191d;
}





:root{
    font-family: Roboto Mono, system-ui, sans-serif;
}

html, body { height: 100%;}
body { margin: 0; }

a, h1, h2, h3, p, strong, button, span{
    text-decoration: none;
    color: #fff;
    font-family: "Roboto Mono", system-ui, sans-serif;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

