/* You can add global styles to this file, and also import other style files */
// @import "~@angular/material/prebuilt-themes/indigo-pink.css";
:root{
    font-family: Roboto Mono, system-ui, sans-serif;
}

html, body { height: 100%;}
body { margin: 0; }

a, h1, h2, h3, p, span{
    text-decoration: none;
    color: #fff;
    font-family: Roboto Mono, system-ui, sans-serif;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
