/* You can add global styles to this file, and also import other style files */
// @import "~@angular/material/prebuilt-themes/indigo-pink.css";

// @import "../node_modules/@angular/material/theming";

// @include mat-core();

// // $mat-primary: #16191d;

// $my-primary: mat-palette($mat-grey, 800);
// $dialog-theme: mat-light-theme($my-primary);

// @include angular-material-theme($dialog-theme);

// .dark-theme{
//     // $my-orange: mat-pallete($mat-deep-orange, 800);  
//     // $dialog-orange: mat-light-theme($my-orange);
//     @include angular-material-theme($dark-theme);
// }


:root{
    font-family: Roboto Mono, system-ui, sans-serif;
}

html, body { height: 100%;}
body { margin: 0; }

a, h1, h2, h3, p, span{
    text-decoration: none;
    color: #fff;
    font-family: Roboto Mono, system-ui, sans-serif;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


@media screen{
    @import './responsive/Desktop.scss';
    @import './responsive/Tablet.scss';
    @import './responsive/Mobile.scss';

}

