<div class="dark-theme" id="dialog">
    <div class="dialog-container">
        <h1 mat-dialog-title>Add New Website</h1>
        <mat-dialog-content>
          <form class="form">
  
              <mat-form-field class="form-field first-child" appearance="outline">
                <mat-label><span>Select dropdown</span> </mat-label>
                <mat-select>
                  <mat-option value="one"><span style="color: #8E96A4;">Assets > Audio</span> </mat-option>
                  <mat-option value="two"><span style="color: #8E96A4;">Assets > fonts</span> </mat-option>
                </mat-select>
              </mat-form-field>
      
              <mat-form-field class="form-field" appearance="outline">
                  <mat-label><span>Link edit text </span> </mat-label>
                  <input type="text" matInput>
                  <button class="btn-input"mat-button matSuffix mat-stroked-button aria-label="search">
                      <span><strong style="color: #8E96A4;">Add</strong></span>
                  </button>
              </mat-form-field>
                
                <hr style="width: 100%; color: #8E96A4;" aria-orientation="horizontal">
                
                <h1 style="padding: 0;" mat-dialog-title>Details</h1>
                <mat-form-field class="form-field" appearance="outline">
                  <mat-label><span>Title edit text</span> </mat-label>
                  <input autocomplete="off" type="text" matInput>
                </mat-form-field>
  
                <mat-form-field class="form-field" appearance="outline">
                  <mat-label><span>Discription edit Text</span> </mat-label>
                  <input type="text" matInput>
                </mat-form-field>
  
                <mat-card >
                  <mat-card-content>
                    <h1>select image</h1>
                    <img src="" alt="">
                  </mat-card-content>
                </mat-card>
          </form>
        </mat-dialog-content>
        <mat-dialog-actions align="center">
          <button mat-raised-button  mat-button cdkFocusInitial color="accent">Add</button>
          <button mat-raised-button color="accent" mat-button [mat-dialog-close]="true" cdkFocusInitial>Cancel</button>
        </mat-dialog-actions>
      </div>
</div>

