#dialog{
    .dialog-container{
        h1{
            font-weight: 600;
        }
        padding: 1rem;
        form {
            min-width: 150px;
            max-width: 500px;
            width: 100%;
          }
          .form-field{
            width: 100%;
          }
        display: flex;
        flex-direction: column;
        align-items: center; 

        mat-form-field{
            > div{
                border: 2px solid red;
            }
        }
        .btn-input{
            height: 55px;
            border-left: 2px solid #A5ABB6;;;
            border-radius: 0;

            strong{
                color: #A5ABB6;
                font-size: 16px;
                font-weight: 700;
            }
        }
        .btn-input:hover{
            background-color: #7d8086;
        }

        mat-card{
            height: 150px;
            mat-card-content{
                display: flex;
                align-items: center;
                justify-content: center;
                h1{
                    color: #000;
                    font-weight: 400;
                }
            }
        }

    
    }
  }