#home{
    .categories{
        padding-inline-end: 30px;
       .latest{
        font-family: "Roboto Mono",system-ui,sans-serif;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 30px;
        letter-spacing: 2px;
        word-spacing: -5px;
        margin-bottom: 2.5rem;
       }
        // {
            
        // }
        .category{
            margin-bottom: 3rem;
            p{

                font-weight: 700;
                text-transform: uppercase;
                font-size: 20px;
                letter-spacing: 1.6px;
                word-spacing: -5px;
                margin-bottom: 1rem;
            }
            ul {
                display: flex;
                flex-wrap: wrap;
                gap: 1rem;
                padding: 0;
                li{
                    width: 32.1%;

                    mat-card{
                        background-color: #16191d;
                        border: 2px solid #202328;
                        padding: 8px 8px 0;
                        background-color: #16191d;
                        border: 2px solid #202328;
                        border-radius: 1.25rem;
                        img{
                            border-radius: 0.75rem;
                        }

                    }
                    mat-card-content{
            
                        padding: 0;
                        .card-content{
                            padding: 1rem 12px 0px 12px;
            
                            h2{
                                font-weight: 600;
                                font-size: 16px;
                                word-spacing: -5px;
                                text-transform: none;
                                letter-spacing: 0;
                                color: #d7deea;
                                font-family: "Roboto Mono", system-ui, sans-serif;
                            }
            
                            span{
                                display: block;
                                font-weight: 700;
                                text-transform: uppercase;
                                font-size: 11px;
                                letter-spacing: 1px;
                                word-spacing: -3px;
                                color:#8E96A4;
                                margin-bottom: 0.75rem;
                            }
                        }
                        
            
                        h2{
                            margin: 0;
                            font-size: 16px;
                            font-weight: 600;
                            
                        }
            
                        .discription{
                            font-size: 14px;
                            margin-top: 10px;
                            p{
                                font-family: Inter, system-ui, sans-serif;
                                font-weight: 500;
                                font-size: 14px;
                                letter-spacing: 0.4px;
                                color: #B0B5C0;
                                overflow: hidden;
                                margin-bottom: 0;
                                text-transform: lowercase;
                                word-spacing: normal;
                                text-overflow: ellipsis;
                                display: -webkit-box;
                                -webkit-box-orient: vertical;
                                -webkit-line-clamp:4;
                                --chakra-line-clamp: 4;
                            }
                            }
                        
                    }
            
                    mat-card-actions{
                        display: flex;
                        justify-content: end;
                        position: relative;
                        
                        

                        mat-icon{
                            cursor: pointer;
                           
                        }

                        
                        // .menu{
                        //     padding: 0.5rem 0.75rem;
                        //     background-color: #16191d;
                        //     border: 1px solid #8E96A4;
                        //     border-radius: 0.4rem;
                        //     visibility: hidden;
                        //     position: absolute;
                        //     top: 45px;
                        //     right: -77px;
                        //     z-index: 100;
                        //     ul{
                        //         gap: 0;
                        //         flex-direction: column;
                        //         li{
                        //             display: flex;
                        //             justify-content: space-between;
                        //             align-items: center;
                        //             gap: 0.4rem;
                        //             padding: 6px 4px;
                        //             cursor: pointer;
                        //             mat-icon{
                        //                  color:#8E96A4;;
                        //                 font-size: 16px;
                        //                 overflow: visible;
                        //                 display: flex;
                        //                 align-items: center;
                        //                 cursor: pointer;
                        //             }

                                    
                        //             a{
                        //                 color:#8E96A4;
                        //                 font-family: "Roboto Mono", system-ui, sans-serif;
                        //                 font-weight: 700;
                        //                 text-transform: uppercase;
                        //                 font-size: 12px;
                        //                 letter-spacing: 1.2px;
                        //                 word-spacing: -3px;
                                        
                        //             }
                        //             a:hover, mat-icon:hover{
                        //                     color: #fff;
                        //             }

                        //             li:hover{
                        //                 a{
                        //                     color: #fff;
                        //                 }
                        //             }
                        //         }
                        //     }
                        // }
                        
                        
                    }
                }
                
        
            }
    
    
        }

    }
    li:hover{
        mat-card-actions{
            
           > mat-icon{
                visibility: visible;
                color: #8E96A4;
                font-size: 1.8rem;
            }
        }
    }
    // li:hover + .menu{
    //     visibility: visible;

    //  }
}


@media screen and (max-width: 1650px) and (min-width: 1329px){
    #home{
        .categories{
            // -webkit-padding-start: 30px;
            // padding-inline-start: 30px;
            -webkit-padding-end: 30px;
            padding-inline-end: 30px
        }
    }
}

@media screen and (max-width: 1328px) and (min-width: 1003px){
        #home{
            .categories{
                // -webkit-padding-start: 30px;
                // padding-inline-start: 30px;
                -webkit-padding-end: 30px;
                padding-inline-end: 30px;
                .category{
                    h1{
                        font-size: 20px;
                    }
                    ul{

                        display: flex;
                        flex-wrap: wrap;
                        gap: 1rem;
                        padding: 0;
                        justify-content: space-between;
                        // display: grid;
                        // grid-gap: 1.5rem;
                        // grid-template-columns: 1fr 1fr;
                        // padding: 0;
                        
                        li{
                            width: 48%;
                        }
                    }
                }
                
            }
        }
}

@media screen and (max-width: 1003px) and (min-width: 768px){
    #home{
        .categories{
            // -webkit-padding-start: 30px;
            // padding-inline-start: 30px;
            -webkit-padding-end: 30px;
            padding-inline-end: 30px;
            .category{
                h1{
                    font-size: 20px;
                }
                ul{
                    display: flex;
                    flex-wrap: wrap;
                    gap: 1rem;
                    padding: 0;
                    justify-content: space-between;
                    // display: grid;
                    // grid-gap: 1.5rem;
                    // grid-template-columns: 1fr;
                    // padding: 0;
                    li{
                        width: 100%;
                    }
                    
                }
            }
            
        }
    }
}

@media screen and (max-width: 768px) and (min-width: 664px){
    #home{
        .categories{
            -webkit-padding-start: 20px;
            padding-inline-start: 20px;
            -webkit-padding-end: 20px;
            padding-inline-end: 20px;
            .category{
                h1{
                    font-size: 20px;
                }
                ul{
                    display: flex;
                    flex-wrap: wrap;
                    gap: 1rem;
                    padding: 0;
                    justify-content: space-between;
                    // display: grid;
                    // grid-gap: 1.5rem;
                    // grid-template-columns: 1fr 1fr;
                    // padding: 0;

                    li{
                        width: 48%;
                    }
                    
                }
            }
            
        }
    }
}

@media screen and (max-width: 664px) and (min-width: 280px){
    #home{
        .categories{
            padding-inline-start: 20px;
            padding-inline-end: 20px;
            .category{
                h1{
                    font-size: 20px;
                }
                ul{
                    display: flex;
                    flex-wrap: wrap;
                    gap: 1rem;
                    padding: 0;
                    justify-content: space-between;
                    // display: grid;
                    // grid-gap: 1.5rem;
                    // grid-template-columns: 1fr;
                    // padding: 0;

                    li{
                        width: 100%;
                        padding: 0;
                    }
                    
                }
            }
            
        }
    }
}