<div id="home">
    <div class="home-container">
        <div class="categories">
            <div class="category" *ngFor="let item of sortedData">
                <!-- <h1>{{i.date | date:'d LLLL' }}</h1> -->
                <h1>{{item[0].date | date:'d LLLL y' }}</h1>
                <ul>
                    <li *ngFor="let i of item">
                        <mat-card>
                            <img style="border-radius: 1rem; height: 220px;" 
                            mat-card-image src='{{i.image}}' alt="Photo of a Shiba Inu">
                            
                            <mat-card-content>
                              <div class="card-content">
                                <div class="card-h2">
                                   <h2>{{i.type}}</h2> 
                                </div>
                                <span>{{i.path}}</span>
                                <div class="discription">
                                    <p>{{i.discription}}</p>
                                </div>
                                
                                </mat-card-content>
                                <mat-card-actions>
                                    <mat-icon>more_horiz</mat-icon>
                                </mat-card-actions>
                            </mat-card>
                        </li>
                    </ul>
            </div>
        </div>
    </div>
</div>
