<div id="home">
    <div class="home-container">
        <div class="categories">
            <div class="category" *ngFor="let item of dataSource">
                <h1>{{item.date | date:'d LLLL' }}</h1>
                    <ul class="list">
                        <li *ngFor="let item of item.card">
                            <mat-card>
                                <img style="border-radius: 1rem; height: 220px;" 
                                mat-card-image src='{{item.image}}' alt="Photo of a Shiba Inu">
                                
                                <mat-card-content>
                                <div class="card-content">
                                    <div class="card-h2">
                                    <h2>{{item.type}}</h2> 
                                    </div>
                                    <span>{{item.path}}</span>
                                    <div class="discription">
                                        <p>{{item.discription}}</p>
                                    </div>
                                    
                                </div>
                                
                                </mat-card-content>
                                <mat-card-actions>
                                    <mat-icon>more_horiz</mat-icon>
                                </mat-card-actions>
                            </mat-card>
                        </li>
                    </ul>
            </div>
        </div>
    </div>
</div>
