<div id="home">
    <div class="home-container">
        <div class="categories">
            <p class="latest">Latest</p>
            <div class="category" *ngFor="let item of sortedData">
                <!-- <h1>{{i.date | date:'d LLLL' }}</h1> -->
                <h1>{{item[0].date | date:'d LLLL' }}</h1>
                <ul>
                    <li *ngFor="let i of item">
                        <mat-card>
                            <img 
                            mat-card-image src='{{i.image}}' alt="Photo of a Shiba Inu">
                            
                            <mat-card-content>
                              <div class="card-content">
                                <div class="card-h2">
                                   <h2>{{i.type}}</h2> 
                                </div>
                                <span>{{i.path}}</span>
                                <div class="discription">
                                    <p>{{i.discription}}</p>
                                </div>
                            </div>
                            </mat-card-content>
                            <mat-card-actions>
                                <mat-icon [matMenuTriggerFor]="menu">more_horiz</mat-icon>
                                <mat-menu #menu="matMenu" class="dark-theme2">
                                    <a href="https://github.com/marcelscruz/dev-resources" mat-menu-item class="dark-theme3"><mat-icon> create </mat-icon>Edit</a>
                                    <a mat-menu-item><mat-icon> warning </mat-icon>Report</a>
                                </mat-menu>
                            </mat-card-actions>
                            </mat-card>
                        </li>
                    </ul>
            </div>
        </div>
    </div>
</div>
